body{
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-rows: 15% auto 15%;
    gap: 10px;
    background-color: rgb(245, 196, 190);
}

img{
    height: 100%;
    width: 100%;
    border: solid black;
    border-radius: 10px;
}

h1, h2{
    text-align: center;
}

header{
    border: solid black;
    border-radius: 10px;
}
nav{
    border: solid black;
    border-radius: 10px;
}
main{
    border: solid black;
    border-radius: 10px;
}

article{
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    height: auto;
    padding: 10px;
}
footer{
    border: solid black;
    border-radius: 10px;
}